body {
  padding-top: 60px;
  padding-bottom: 40px; }

/* Remove top padding when top navbar goes static in narrow viewports */
@media (max-width: 979px) {
  body {
    padding-top: 0; } }
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #CCCCCC; }
.navbar-inverse .navbar-inner {
  background: #39275b;
  border-color: #CCCCCC; }
.navbar-inverse .nav .active > a {
  background: #39275b; }

.navbar .nav > .active > a, .navbar .nav > .active:hover, .navbar .nav > .active:focus {
  color: #EEEEEE;
  background: #442f6d;
  text-decoration: none;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.75); }

/* alerts 
----------------------------------- */
#who-are-you-error,
#ticket-creation-success,
#ticket-creation-error {
  display: none; }

/* help text 
----------------------------------- */
#help-text {
  display: none; }

.help-text-toggle {
  cursor: pointer; }
  .help-text-toggle:hover {
    text-decoration: none; }

/*  
----------------------------------- */
.demo {
  display: none; }

#another-request {
  display: none; }

#ticket-number {
  display: none; }

fieldset {
  margin-bottom: 2em; }

#form-start-error,
#github-notice,
#budget-fieldset,
#authorizing-supervisor,
#change-permissions,
#computers-remove {
  display: none; }

/* index page 
----------------------------------- */
#index-page {
  /* Custom container */
  /* Main marketing message and sign up button */
  /* Supporting marketing content */
  /* .nav-pills {
      .active a {
          background-color: $uw-purple;
          :hover {
              background-color: lighten($uw-purple, 20%);
          };
      }
  } */ }
  #index-page .container-narrow {
    margin: 0 auto;
    max-width: 700px; }
    #index-page .container-narrow > hr {
      margin: 30px 0; }
  #index-page .jumbotron {
    margin: 60px 0;
    text-align: center; }
    #index-page .jumbotron h1 {
      font-size: 5em;
      line-height: 1;
      color: #39275b; }
    #index-page .jumbotron .btn {
      font-size: 1.5em;
      padding: 14px 24px; }
  #index-page .marketing {
    margin: 60px 0; }
    #index-page .marketing p + h4 {
      margin-top: 28px; }
